
.font-test{
  font-family: 'Poppins', sans-serif;
}

:root {
  /*--Colors--*/

  /*--main color--*/
  --base-color1:220;

  /*--mid range - normal--*/
  --saturation-level1:20%;
  --saturation-level2:50%;
  --saturation-level3:80%;
  /* mid range - normal--*/
  --lightness-level1:75%;
  --lightness-level2:50%;
  --lightness-level3:35%;
  /* no opacity - normal--*/
  --opacity-level1:100%;
  --opacity-level2:80%;
  --opacity-level3:60%;

  --main-color: hsla( var(--base-color1),
                      var(--saturation-level3),
                      var(--lightness-level2),
                      var(--opacity-level1));

  --main-color-light: hsla( var(--base-color1),
                            var(--saturation-level3),
                            var(--lightness-level1),
                            var(--opacity-level1));

  --main-color-dark: hsla( var(--base-color1),
                           var(--saturation-level3),
                           var(--lightness-level3),
                           var(--opacity-level1));  

  /*--Font and Typography--*/
  --body-font: 'Poppins', sans-serif;

  /*-- Font size .5rem = 8px, 1rem =16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .9rem;
  --small-font-size: .8rem;
  --smaller-font-size: .75rem;

  /*-- Font weigth --*/
  --font-light: 300;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* -- Margin -- */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;

  /* -- z index -- */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* --Font size for large devices-- */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.8rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .7rem;
  }
}


.square {
  height: 50px;
  width: 50px;
  background-color: var(--main-color);
}

.square1 {
  height: 50px;
  width: 50px;
  background-color: var(--main-color-light);
}

.square2 {
  height: 50px;
  width: 50px;
  background-color: var(--main-color-dark);
}

.style-test{
  color: var(--main-color);
  font-weight: var(--font-light);
}